/* COMMON
main.css */
body {
    color: #333333;
    font-size:16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;   
    height: 3000px;
}
/* 이미지를 인라인 요소가 아닌
하나의 화면을 구성하는 레이아웃으로
활용하기 위해 display:block 으로 지정한다. */
img {
    display: block;
}
a{
    text-decoration: none;
}
.inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}