/* 
COMMON
*/
body {
    color: #333333;
    font-size:16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;   
    height: 3000px;
}
/* 이미지를 인라인 요소가 아닌
하나의 화면을 구성하는 레이아웃으로
활용하기 위해 display:block 으로 지정한다. */
img {
    display: block;
}
a{
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.visual .inner {
    height: 646px;
}

.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}
.btn.btn--brown {
    color: #592818;
    border-color: #592818;
}
.btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
}
.btn.btn--gold {
    color: #D9AA8A;
    background-color: #D9AA8A;
}
.btn.btn--gold:hover {
    color: #FFF;
    background-color: #D9AA8A;
} 
.btn.btn--white {
    color: #D9AA8A;
    background-color: #D9AA8A;
}
.btn.btn--white {
    color: #FFF;
    background-color: #FFF;
}
.btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
}










/* 
HEADER
*/
header {
    width:100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top: 0;
    z-index: 9;
  
  }
  header > .inner {
    height: 120px;
  }
  header .logo {
    height:75px;
    /* position:absolute;
    부모(static 속성이 아닌) 또는 body
    기준으로 움직인다. */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  header .sub-menu {
    position:absolute;
    top: 10px;
    right: 0;
    display:flex;
  }
  header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display:flex;
  }
  header .sub-menu ul.menu li {
    /* 자식 요소가 이 값을 기준으로 이동할 수 있도록. */
    position:relative;
  }
  header .sub-menu ul.menu li::before {
    content: "";
    /* 인라인 요소는 너비를 직접 지정할 수 없으므로. */
    /* 포지션을 앱솔루트로 지정할 경우
    디스플레이가 블럭으로 지정이 되지만
    명시적으로 지정한다. */
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    /* 부모 위치를 기준으로 이동하기 위해. */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  header .sub-menu ul.menu li:first-child::before {
    display: none;
  }
  header .sub-menu ul.menu li a {
    font-size: 12px;
    /* 폰트의 크기는 작더라도
    패딩의 크기는 늘려
    사용자가 a 태그를 쉽게 클릭할 수 있도록 만들어야한다. */
    padding: 11px 16px;
    /* 패딩 값 지정을 위해 인라인 요소를 블럭 요소로 지정한다. */
    display:block;
    color: #656565;
  }
  header .sub-menu ul.menu li a:hover {
    color: #000;
  }
  header .sub-menu .search {
    height:34px;
    position:relative;
  }
  header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline:none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
  }
  header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
  }
  header .sub-menu .search .material-icons {
    height: 24px;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto; 
    transition: .4s;
  }
  header .sub-menu .search.focused .material-icons {
    opacity: 0;
  } 
  
  
  
  
  /* HEADER MAIN-MENU */
  /* HEADER MAIN-MENU */
  /* HEADER MAIN-MENU */
  
  
  
  header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
  }
  header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15); 
    cursor: pointer;
  }





/*

VisualSection.vue

*/

.visual {
    margin-top: 120px;
    background-position: center;
}
.visual .inner {
    height: 646px;
}

.visual .title {
    position: absolute;
    top: 88px;
    left: -10px;

}

.visual .title .btn {
    position:absolute;
    top: 259px;
    left: 173px;
}

.visual .cup1.image {
    position: absolute;
    bottom: 0;
    right: -47px;
}

.visual .cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
}

.visual .cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
}

.visual .cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
}

.visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}
.visual .fade-in {
    opacity: 0;
}









/*
  NoticeSection
*/

.notice {

}

.notice .notice-line {
  position:relative;
  
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;  
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;  
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px;  
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display:flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  /* width: auto; */
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}

.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 700px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  opacity: .5;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
  margin: auto;
  display:none;
}
.notice .promotion .swiper-pagination {
  bottom: 80px;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url('~@/assets/images/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline:none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active { 
  background-image: url('~@/assets/images/promotion_slide_pager_on.png');
}

.notice .promotion .swiper-slide-active .btn { 
  display:block;
}

.notice .promotion .swiper-button-next,
.notice .promotion .swiper-button-prev {
  width: 42px;
  height:42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 2;
  cursor:pointer;
  outline:none;
  color:black;
  font-weight:1200px;

}
.notice .promotion .swiper-button-next {
  width: 42px;
  height:42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 2;
  cursor:pointer;
  outline:none;
  display:flex;
  justify-content: center;
  align-items:center;
  transition: .4s;
}

.notice .promotion .swiper-button-prev{
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-button-next{
  right: 50%;
  margin-right: -480px;
}
.swiper-button-prev:after, 
.swiper-button-next:after {
  display:none;
}
.swiper-button-next:after, 
.swiper-button-next:after {
  display:none;
}
.notice .promotion .swiper-button-next:hover,
.notice .promotion .swiper-button-prev:hover {
  background-color: #333;
  color: #fff;
}